certifi==2022.12.7
charset-normalizer==3.0.1
clone==0.0
configparser==4.0.2
hexdump==3.3
idna==3.4
ldap3==2.9.1
lxml==4.9.2
more-itertools==5.0.0
Pillow==9.0.1
prometheus-client==0.16.0
pyasn1==0.4.8
pyparsing==2.4.7
python-evtx==0.7.4
requests==2.28.2
six==1.16.0
tk==0.1.0
urllib3==1.26.14
xmltodict==0.13.0
zipp==1.0.0
